.order-history-container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: left;
}

.order-card h3 {
  margin-bottom: 10px;
}

.order-card ul {
  list-style: none;
  padding: 0;
}

.order-card li {
  margin-bottom: 5px;
}

.order-card h4 {
  margin-top: 10px;
  font-weight: bold;
}

.cancel-order-btn {
  background-color: #e63946 ;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel-order-btn:hover {
  background-color: #c92b3f;
}